@{
    ViewData["Title"] = "ePortal | Autorska i srodna prava";
}

<div class="text-center">
  <h1>Dobrodošli na ePortal za autorska i srodna prava</h1>
</div>

<div class="row" style="margin-top: 100px"> 
    <div class="col-md-12">
        <div class="row container">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a href="/AutorskaPrava/Index" style="text-decoration: none">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Pretraži autorska prava</h5>
                        <p class="card-text">Ovde možeš pretražiti bazu podataka za već postojećim autorskim i srodnim pravima.</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/AutorskaPrava/NovaPrijava" style="text-decoration: none">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Prijavi autorsko pravo</h5>
                        <p class="card-text">Ovde možeš pretražiti bazu podataka za već postojećim autorskim i srodnim pravima.</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>