<div class="row" style="border: 1px solid black;">
    <div class="col-md-12">
        <div class="row text-center">
            <div class="col-md-6">
                <h4> ZAVOD ZA INTELEKTUALNU SVOJINU</h4>
                <h5>Beograd, Knjeginje Ljubice 5</h5>
            </div>
            <div class="col-md-6">
                <h4> OBRAZAC A-1</h4>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 50px">
            <div class="col-md-12 text-center">
                <h4>ZAHTEV ZA UNOŠENJE U EVIDENCIJU I DEPONOVANJE AUTORSKIH PRAVA</h4>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h5>1) Podnosilac - ime, prezime, adresa i državljanstvo autora ili drugog nosioca autorskog prava ako je podnosilac fizičko lice, 
                    odnosno poslovno ime i sedište nosioca autorskog prava ako je podnosilac pravno lice*:</h5>

                <textarea class="form-control" style="margin-top: 20px; height: 300px" id="podnosilacValue"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 20px">
               <div class="row">
                    <div class="col-md-5">
                        <h5 for="podnosilacTelefon">Telefon: </h5>
                        <input type="text" class="form-control" id="podnosilacTelefon" />
                    </div>
                   <div class="col-md-7">
                        <h5 for="podnosilacEmail">Email: </h5>
                        <input type="email" class="form-control" id="podnosilacEmail" />
                   </div>
               </div>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                    2) Pseudonim ili znak autora, (ako ga ima):
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 100px" id="pseudonimValue"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                    3) Ime, prezime i adresa punomoćnika, ako se prijava podnosi preko punomoćnika:
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 100px" id="punomocnikDetalji"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                    4) Naslov autorskog dela, odnosno alternativni naslov, ako ga ima, po kome autorsko delo može da se identifikuje*:
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 100px" id="naslovAutorskogDela"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                   5) Podaci o naslovu autorskog dela na kome se zasniva delo prerade, ako je u pitanju autorsko delo prerade, kao i podataka o autoru izvornog dela:
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 100px" id="podaciONaslovuAutorskogDela"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                    6) Podaci o vrsti autorskog dela (književno delo, muzičko delo, likovno delo, računarski program i dr.)*: 
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 100px" id="vrstaAutorskogDela"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                    7) Podaci o formi zapisa autorskog dela (štampani tekst, optički disk i slično)*: 
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 100px" id="formaAutorskogDela"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                    8) Podaci o autoru ako podnosilac prijave iz tačke 1. ovog zahteva nije autori i to: prezime, ime, adresa, i državljanstvo autora (grupe autora ili koautora), 
                    a ako su u pitanju jedan ili više autora koji nisu živi, imena autora i godine smrti autora, a ako je u pitanju autorsko delo anonimnog autora navod da je 
                    autorsko delo delo anonimnog autora:
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 200px" id="podaciOAutoruDetalji"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                    9) Podaci da li je u pitanju autorsko delo stvoreno u radnom odnosu:
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 100px" id="daLiJeRadniOdnos"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <h5>
                    10) Način korišćenja autorskog dela ili nameravani način korišćenja autorskog dela:
                </h5>

                <textarea class="form-control" style="margin-top: 20px; height: 100px" id="nacinKoriscenjaAutorskogDela"></textarea>
            </div>
            <div class="col-md-12" style="margin-top: 50px">
                <div class="row">
                    <div class="col-md-6">
                        <h5>
                            11)
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" style="margin-top: 20px; height: 50px" id="potpis"></textarea>
                        <h5 style="margin-top: 10px">Podnosilac prijave, nosilac prava</h5>
                        <h6>(mesto za potpis fizičkog lica, odnosno potpis zastupnika pravnog lica ili ovlašćenog predstavnika u pravnom licu)*</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 40px">
                <h5>
                    12)  Prilozi koji se podnose uz zahtev
                </h5>

                @using (Html.BeginForm("UploadFiles", "AutorskaPrava", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="files" multiple />
                    <input type="submit" value="Upload" />
                }

                <label class="text-success" id="uploadSuccess" style="margin-top: 20px; display: none"><b>Fajlovi su uspešno dodati, nastavite sa prijavom.</b></label>
            </div>
            <div class="col-md-12 text-center" style="margin-top: 50px">
                <h5><b>POPUNJAVA ZAVOD</b> </h5>

                <div class="row">
                    <div class="col-md-12" style="text-align: left">
                        <br />
                        <br />
                        <h6><b>Prilozi uz prijavu: </b></h6>
                        <br />
                        <h6>opis autorskog dela (ako je delo podneto na optičkom disku); </h6>
                        <br />
                        <h6>primer autorskog dela (slika, video zapis, audio zapis); </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 80px">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4" style="border: 1px solid black">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Broj prijave</h5>
                                <h4><b>A-</b></h4>
                                <hr />
                                <h5>Datum podnošenja: </h5>
                                <input type="date" class="form-control" id="datumPodnosenja"/>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h5>Rubrike u zahtevu A-1 koje su označene sa * moraju da budu obevezno popunjene.</h5>
<div class="row">
    <div class="col-md-12 float-end">
        <button class="btn btn-primary btn-lg btn-success" id="podnesiZahtev" onclick="AutorskoPravo.dodajPrijavu()">Podnesi zahtev</button>
        <label class="text-success" id="novaPrijavaSuccess" style="margin-top: 20px; display: none"><b>Prijava je uspešno dodata.</b></label>
    </div>
</div>